body {
    background-color: #e2adba;
    font-family: Arial, sans-serif;
}

.poesia {
    background-color: #61284D;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

h1{
    color: #ffffff;
}

h2{
    color: #ffffff;
}