
body {
    margin: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background: #FAF5A7;
    color: rgb(0, 0, 0);
}

h1 {
    margin-top: 20px;
}

.placar {
    margin: 20px;
    font-size: 18px;
}

.verde {
    color: #00ff88;
}

.vermelho {
    color: #ff4d4d;
}

.botoes {
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

.game-box {
    width: 500px;
    height: 400px;
    background: white;
    margin: auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}

img {
    width: 80px;
    position: absolute;
    cursor: pointer;
}

.rgb-animado {
        font-size: 40px;
        font-weight: bold;
        background: linear-gradient(270deg, rgba(234, 0, 255, 0.534), indigo, violet);
        background-size: 800% 800%;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: animRGB 9s ease infinite;
    }

@keyframes animRGB {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }   
}